# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [3]:
# 記得先 Import 正確的套件

'''
Your Code
'''
import pandas as pd
import numpy as np

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      7
1  banana  medium      5
2  orange     low      5
3   apple    high      7
4  banana  medium     13
5  orange     low      6
6   apple    high     10
7  banana  medium     14
8  orange     low      2
    fruit weight  price
0   apple   high      6
1  orange    low      3
2    pine   high     10
3   apple    low     12
4  orange   high      0
5    pine    low      4

In [12]:
# - 依照 fruit 欄位做合併

'''
Your Code
'''
pd.merge(df1, df2, how = 'outer', on = 'fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high      7.0     high      6.0
1    apple     high      7.0      low     12.0
2    apple     high      7.0     high      6.0
3    apple     high      7.0      low     12.0
4    apple     high     10.0     high      6.0
5    apple     high     10.0      low     12.0
6   banana   medium      5.0      NaN      NaN
7   banana   medium     13.0      NaN      NaN
8   banana   medium     14.0      NaN      NaN
9   orange      low      5.0      low      3.0
10  orange      low      5.0     high      0.0
11  orange      low      6.0      low      3.0
12  orange      low      6.0     high      0.0
13  orange      low      2.0      low      3.0
14  orange      low      2.0     high      0.0
15    pine      NaN      NaN     high     10.0
16    pine      NaN      NaN      low      4.0

In [13]:
# - 依照 index 索引做合併

'''
Your Code
'''
pd.merge(df1, df2, on = 'index')

KeyError: 'index'

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [ ]:
'''
Your Code
'''
#如果沒有設定合併方法的話會依照預設方法 'inner' 去做合併, 但改用 'outer' 就能解決了

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [14]:
'''
Your Code
'''
df1.join(df2, lsuffix = '_df1', rsuffix = '_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          7     apple       high        6.0
1    banana     medium          5    orange        low        3.0
2    orange        low          5      pine       high       10.0
3     apple       high          7     apple        low       12.0
4    banana     medium         13    orange       high        0.0
5    orange        low          6      pine        low        4.0
6     apple       high         10       NaN        NaN        NaN
7    banana     medium         14       NaN        NaN        NaN
8    orange        low          2       NaN        NaN        NaN

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          3     apple       high        3.0
1    banana     medium          6    orange        low        2.0
2    orange        low          0      pine       high       11.0
3     apple       high          5     apple        low        3.0
4    banana     medium          1    orange       high       13.0
5    orange        low          2      pine        low        8.0
6     apple       high         12       NaN        NaN        NaN
7    banana     medium         11       NaN        NaN        NaN
8    orange        low          7       NaN        NaN        NaN